* {
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    text-align: center;
    font-size: 27px;
    margin-bottom: 40px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #passado{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    top: 5px;
    left: 5px;
  }
  
  
  .ia, .iot, .rv-ra, .computacao-nuvem, .blockchain {
    margin-bottom: 40px;
  }
  
  .ia h3 {
    color: #00c4ff;
  }
  
  .iot h3 {
    color: #ff00c4;
  }
  
  .rv-ra h3 {
    color: #c400ff;
  }
  
  .computacao-nuvem h3 {
    color: #00ff1e;
  }
  
  .blockchain h3 {
    color: #ffea00;
  }
  
  .ia p, .iot p, .rv-ra p, .computacao-nuvem p, .blockchain p {
    margin-bottom: 10px;
  }
  
  .ia img, .iot img, .rv-ra img, .computacao-nuvem img, .blockchain img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .ia figcaption, .iot figcaption, .rv-ra figcaption, .computacao-nuvem figcaption, .blockchain figcaption {
    font-size: 14px;
    text-align: center;
  }
  
  /* Estilo para as cores das imagens */
  .ia img {
    filter: brightness(150%) hue-rotate(200deg);
  }
  
  .iot img {
    filter: brightness(150%) hue-rotate(330deg);
  }
  
  .rv-ra img {
    filter: brightness(150%) hue-rotate(270deg);
  }
  
  .computacao-nuvem img {
    filter: brightness(150%) hue-rotate(120deg);
  }
  
  .blockchain img {
    filter: brightness(150%) hue-rotate(60deg);
  }

  @media (max-width: 700px) {
    p{
      text-align: center;
    }
  }