* {
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background-image: linear-gradient(#1C1C1C, #A9A9A9, #87CEFF);
  scroll-snap-type: y mandatory;
}

.inicio{
  display: flex;
  padding: 70px;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
}


.final {
  display: flex;
  padding: 70px;
}

.inicio img, .final img{
  border-radius: 30%;
  margin: 15px;
  display: inline-flex;
}


.inicio p, .final p{
  display: inline-flex;
  float: left;
  position: absolute;
}

section h1 {
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

div{
  scroll-snap-align: start;
  padding-top: 80px;
  justify-content: center;
}

.mecanicos div, .eletro_mecanicos div ,.eletronicos div {
  display: inline-flex;
  min-height: 100vh;
  padding: 30px;
}

.mecanicos 
.eletronicos 
.eletro_mecanicos {
  background: transparent;
}

p, figcaption{
  font-family: 'Source Sans Pro', sans-serif; 
}

p{
  text-align: justify;
  font-size: 18px;
  margin: 15px;
  margin-top: 50px;
  padding: 10px;
  line-height: 25px;
}

p strong{
  text-transform: uppercase;
  font-size: 20px;
  line-height: 40px;
}

.mecanicos p, .inicio p, .introducao p{
  color: whitesmoke;
}

.introducao{
  justify-content: center;
  display: flex;
  height: 90vh;
}

img {
  width: 350px;
  height: fit-content;
}

/* "moldura" criada por: https://codepen.io/chris22smith/pen/PbBwjp*/

.mecanicos figure img, .eletro_mecanicos figure img, .eletronicos figure img {
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  margin: 25px;
  margin-top: 50px;
  padding: 20px;
  position: relative;
  text-align: center;
}

.eletronicos figcaption, .mecanicos figcaption, .eletro_mecanicos figcaption  {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  font-style: italic;
}

#rodape {
  /* position: absolute;
  bottom: 0; */
  width: 100%;

  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}
#rodape img{
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
#rodape h2 {
  color: aliceblue;
  text-align: center;
} 

.info {
  display: inline-block;
  margin: 0 20px; 
}





.cabecalho {
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s;
}

.menu a:hover {
  color: #999;
}


.header {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.header__subtitle {
  font-size: 34px;
  line-height: 40px;
}
.final{
  height: 100vh;
}

.fim{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.futuro{
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  margin: 25px;
  padding: 25px;
  border-radius: 40px;
  background-image: linear-gradient(#6959CD, #1C1C1C);
}

.futuro:hover{ 
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(#1C1C1C, #6959CD);
  transition: background-image 0.9s;
}
@keyframes blink {
  0% {
      background-color: black;
  }
  50% {
      background-color: white;
  }
  100% {
      background-color: black;
  }
}
.star{
  width: 2px;
  height: 1px;

  z-index: 5;

  display: flex;

  position: absolute;
  padding: 0;

  background-color: white;
}


.star-1{
  left: 15px;
  top: 100px;
  
  animation: blink 5s infinite;
}
.star-2{
  left: 100px;
  top: 300px;
  
  animation: blink 2s infinite;
}
.star-3{
  left: 100;
  top: 500px;
  
  animation: blink 5s infinite;
}
.star-4{
  left: 500px;
  top: 150px;

  
  animation: blink 2s infinite;
}
.star-5{
  left: 780px;
  top: 170px;

  
  animation: blink 3s infinite;
}
.star-6{
  left: 300px;
  top: 400px;
  
  animation: blink 3s infinite;
}
.star-7{
  left: 170px;
  top: 300px;
  
  animation: blink 4s infinite;
}
.star-8{
  left: 150px;
  top: 132px;
  
  animation: blink 2s infinite;
}
.star-9{
  left: 600px;
  top: 400px;
  
  animation: blink 4s infinite;
}
.star-10{
  left: 800px;
  top: 400px;
  
  animation: blink 5s infinite;
}
.star-11{
  left: 112px;
  top: 8500px;
  
  animation: blink 3s infinite;
}
.star-12{
  left: 700px;
  top: 900px;
  
  animation: blink 1s infinite;
}
.star-13{
  left: 750px;
  top: 700px;
  
  animation: blink 2s infinite;
}
.star-14{
  left: 800px;
  top: 400px;
  
  animation: blink 3s infinite;
}
.star-15{
  left: 900px;
  top: 400px;
  
  animation: blink 5s infinite;
}


@media (max-width: 470px) {
  .menu{
    display: none;
  }
  .cabecalho{
    display: none;
  }
}


@media (max-width: 710px) {
  body {
    width: 100%; 
    margin: 0 auto;
  }
  figure {
    margin: 0;
  }

  img {
    width: 100%; 
    height: auto; 
  }
  p {
    text-align: center; 
  }

  div{
    align-items: center;
    justify-content: center;
    display: grid;
  }

  .logo{
    display: none;
  }
  
.mecanicos figure img, .eletro_mecanicos figure img, .eletronicos figure img {
  border: none;
  background-color: transparent;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 50px;
}

.mecanicos div, .eletro_mecanicos div ,.eletronicos div {
  display: block;
  min-height: 500px;
  height: auto;
  padding: 30px;
}

.inicio p, .final p {
  display: block; 
  float: none; 
  position: relative;
}

.fim{
  display: grid;
}
}


@media (max-width: 1000px) {
  body {
    width: 100%; 
    margin: 0;
  }
  figure {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  figcaption{
    display: none;
  }

  img {
    width: 70%; 
    height: auto; 
    justify-self: center;
  }
  p {
    text-align: center; 
  }
  
.mecanicos div, .eletro_mecanicos div ,.eletronicos div {
  display: block;
  min-height: 500px;
  height: auto;
  padding: 30px;
}

.logo {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.inicio p, .final p {
  display: block; 
  float: none; 
  position: relative;
}

.fim{
  justify-content: center;
  text-align: center;
}

.fim   img {
  display: flex;
  justify-self: center;
}
div{
  display: grid;
}
}
